/*** COMMON ***/

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* immagini */
img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/***** HEADER *****/

header {
  font-family: Helvetica, arial, sans-serif;
}

/* header top */
.header-top {
  display: flex;
  justify-content: flex-end;
  background-color: black;
  height: 40px;
  text-align: right;
}
.header-top img {
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

/* headeer bottom */

/* altezza piu margine formano altezza header-bottom */
.ps_logo {
  width: 40px;
  margin-right: 10px;
  margin: 20px 0;
}
/* elemento che restringe header bottom */
.ms_header_box {
  padding: 0 10px;
}

/* parte sinistra di header bottom */
.ms_header_left_menu {
  display: flex;
  align-items: center;
}
.ms_header_left_menu li {
  display: inline;
  padding: 0 5px;
}
.ms_header_xtd_menu_left,
.ms_header_xtd_menu_right {
  display: none;
}

/* parte destra di header bottom */
.ms_burger_menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.ms_burger_menu_narrow_screens i {
  margin-left: 10px;
  font-size: 1.3rem;
}
.ms_btn_drk_rounded {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
  border-radius: 20px;
  margin: 0 10px;
}
.search_lens {
  width: 40px;
  display: inline-block;
}

/* elementi comuni display-bottom */
.ms_header_xtd_menu_left i,
.ms_header_xtd_menu_right i {
  color: gray;
  font-size: 0.8rem;
}

/****** MAIN ******/

main {
  font-family: Arial, sans-serif;
}
.ms_jumbotron {
  background-image: url(../img/jumbo-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  color: white;

  /* todo test */
  height: 675px;
}

.ms_jumbotron .container {
  height: 100%;
}
.ms_jumbotron .container .align-items-end {
  height: 100%;
}
.ms_jumbo_text_col > * {
  margin: 20px 0;
}

/* override del margine sotto il bottone rosso */
.ms_jumbo_text_col .ms_btn_red {
  margin-bottom: 40px;
}

/* bottone acquista ora */
.ms_btn_red {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 20px;
}
/* logo del videogioco dimensioni relative */
.ms_game_hero_logo {
  width: 60%;
}
.ms_jumbotron h2 {
  font-size: 2.5rem;
}
.ms_inv_col {
  display: none;
}

/********* REGOLE RESPONSIVE **********/
/* layout large */
@media screen and (min-width: 992px) {
  .ms_header_xtd_menu_left,
  .ms_header_xtd_menu_right {
    display: inline-block;
  }
  .ms_burger_menu_narrow_screens {
    display: none;
  }
  .ms_inv_col {
    display: block;
  }
}
