/***** COMMON *****/

/*** RESET ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*** UTILITIES ***/
.sub_text {
  color: #727272;
}
.claim {
  color: #0072ce;
}
.ms_highlighted {
  border-bottom: 2px solid #3991d9;
}

/* bottoni */
.ms_btn_drk_rounded {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
  border-radius: 20px;
  border-width: 2px;
  margin: 0 10px;
}

.ms_btn_red {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 20px;
  border-width: 2px;
}
.ms_btn_blue {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  border-radius: 20px;
  border-width: 2px;
}
.ms_btn_gray {
  color: #3a6de5;
  font-weight: bold;
  background-color: #d9dadc;
  border-color: #d9dadc;
  border-radius: 15px;
  border-width: 2px;
}
.btn_off-white {
  color: #000;
  font-weight: bold;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  border-radius: 20px;
  border-width: 2px;
}

/* effetti hover sui bottoni */
button:hover {
  outline: 2px solid white;
  outline-offset: -4px;
}
.btn_off-white:hover {
  outline: 2px solid #161c3b;
  outline-offset: -4px;
}
/* effetti hover sulle thumbnail dei giochi */
.ms_thumbnails img:hover {
  transform: translate(0, -20px);
}
.ms_hw_card:hover .ms_inv_hw_description {
  color: black;
}
/* effetti hover su accessori PS5 */
.ms_hw_card:hover {
  border-bottom: 2px solid #3991d9;
}

/***** HEADER *****/

header {
  font-family: Helvetica, arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

/* header top */
.header-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  height: 40px;
  text-align: right;
}

.header-top img {
  width: 80px;
  display: inline-block;
  margin-right: 15px;
}

/* header bottom */
.header-bottom {
  display: flex;
  justify-content: center;
  background-color: white;
}
/* altezza logo determina altezza header-bottom */
.ps_logo {
  width: 80px;
  margin-right: 10px;
}
.header-bottom a {
  font-weight: bold;
}
/* elemento che restringe header bottom */
.ms_header_box {
  width: 100%;
  padding: 0 10px;
}

/* parte sinistra di header bottom */
.ms_header_left_menu {
  display: flex;
  align-items: center;
}
.ms_header_left_menu li {
  display: inline;
  padding: 0 5px;
}
.ms_header_xtd_menu_left,
.ms_header_xtd_menu_right {
  display: none;
}

/* parte destra di header bottom */
.ms_burger_menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.ms_burger_menu_narrow_screens i {
  margin-left: 10px;
  font-size: 2rem;
}
.search_lens {
  width: 40px;
  display: inline-block;
}

/* elementi comuni display-bottom */
.ms_header_xtd_menu_left i,
.ms_header_xtd_menu_right i {
  color: gray;
  font-size: 0.8rem;
}

/****** MAIN ******/

main {
  font-family: Arial, sans-serif;
  margin-top: 120px;
}

/*** sezione jumbotron ***/
.ms_jumbotron {
  color: white;
}
.ms_jumbo_bg_img_1 {
  background-image: url(../img/jumbo-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  height: 675px;
}

.ms_jumbotron .container {
  height: 100%;
}
.ms_jumbotron .container .row {
  height: 100%;
}
.ms_jumbo_text_col > * {
  margin: 20px 0;
}

/* override del margine sotto il bottone rosso */
.ms_jumbo_text_col .ms_btn_red {
  margin-bottom: 40px;
}

/* logo del videogioco dimensioni relative */
.ms_game_hero_logo {
  width: 60%;
}
.ms_jumbotron h2 {
  font-size: 2.5rem;
}
.ms_inv_col1 {
  display: none;
}

/*** sezione thumbnails ***/
.ms_thumbnails {
  padding-top: 30px;
  padding-bottom: 100px;
}
.ms_thumbnails img {
  border-radius: 15px;
}
.ms_selected {
  outline: 2px solid #0072ce;
  outline-offset: 3px;
}

/*** sezione PS5 Hardware ***/
.ps5_hardware_intro {
  text-align: center;
  padding-bottom: 40px;
}
.ps5_hardware p {
  font-size: 1.5rem;
}
.ps5_hardware h2 {
  font-size: 2.8rem;
}
.ms_sm_hw_thumb {
  padding: 20px 0;
}
.ms_inv_hw_description {
  color: gray;
  font-size: 0.8rem;
  display: none;
}
.ms_hw_card {
  height: 100%;
}
.ms_highlighted .ms_inv_hw_description {
  color: black;
}

/*** sezione secondo jumbotron ***/
.ms_jumbo_bg_img_2 {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 956px;
}

/*** sezione nuove uscite ***/
.new_release {
  background-color: #1f1f1f;
  color: white;
  padding-bottom: 60px;
}
.new_release h2 {
  padding-top: 30px;
  font-size: 2.5rem;
}
.new_release p {
  font-size: 1.8rem;
}
.new_release img {
  border-radius: 15px;
}

/*** sezione esplora ***/
.ms_explore h2 {
  padding-top: 30px;
  font-size: 2.5rem;
}
.ms_explore .sub_text {
  padding-bottom: 30px;
}
.ms_explore .row {
  padding-bottom: 60px;
}
.ms_explore .sub_text {
  font-weight: bold;
  font-size: 1.2rem;
}

/*** sezione playstation plus ***/
.ms_playstation_plus {
  background-color: #bebcbb;
}
.ms_playstation_plus p {
  font-weight: bold;
}
.ms_inv_col2 {
  display: none;
}
/* override per non rendere la colonna troppo alta per l'immagine a dx */
.ms_playstation_plus .ms_game_hero_logo {
  margin: 10px 0;
}

/*** sezione sconti ***/
.sconti {
  padding-bottom: 60px;
}
.sconti h2 {
  font-size: 2.8rem;
  margin-top: 40px;
  margin-bottom: 20px;
}
.sconti .sub_text {
  font-size: 1.6rem;
  margin-bottom: 40px;
  line-height: 1.2;
}

/*** sezione playstation now ***/
.ms_playstation_now {
  background-color: #161c3b;
  color: white;
}
.ms_playstation_now .ms_jumbo_text_col {
  margin-bottom: 20px;
}

/*** sezione social media ***/
.ms_social_media {
  padding: 50px 0;
}
.ms_social_media h2 {
  text-align: center;
  font-size: 2.2rem;
  padding-bottom: 50px;
  font-weight: bold;
}

/***** FOOTER *****/
footer {
  background-color: #00439c;
  color: white;
  padding-top: 50px;
  padding-bottom: 60px;
}
.ms_logo_big {
  filter: invert(1);
  width: 50%;
}

.second_row {
  padding-top: 50px;
}
.f_logo_2 {
  width: 150px;
  padding-bottom: 10px;
}
.ms_more_info {
  text-decoration: underline;
  font-size: 1rem;
}

/********* REGOLE RESPONSIVE **********/
/* layout medium */
@media screen and (min-width: 768px) {
  /* testo accessori sezione playstation5 diventa visibile */
  .ms_inv_hw_description {
    display: block;
  }
  .ms_sm_hw_thumb {
    justify-content: space-between;
  }
  /* seconda colonna nel secondo jumbotron */
  .ms_inv_col2 {
    display: block;
  }
}

/* layout large */
@media screen and (min-width: 992px) {
  /* fa comparire i menu estesi */
  .ms_header_xtd_menu_left,
  .ms_header_xtd_menu_right {
    display: inline-block;
  }
  /* fa scomparire il burger menu */
  .ms_burger_menu_narrow_screens {
    display: none;
  }
  /* seconda colonna jumbotron */
  .ms_inv_col1 {
    display: block;
  }
}
